h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 80px;
    font-family: "Oswald";
    border: 5px solid;
    border-radius: 10px;
    width: 600px;
}

p {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-family: "Lato";
    font-size: 20px;
}

.button {
    font-family: "Unica One";
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: 300px;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    margin-top: 50px;
    background-color: black;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    cursor: pointer;
}

.button:hover {
    font-size: 37px;
}

.button:active {
    font-size: 35px;
}

#stats {
    margin-top: 30px;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}